<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
				
			</style
			
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/publications">Publications</a></li>
	        		<li><a href="/Archer_CV.pdf" target="_blank">CV</a></li>
	        		<li><a href="/code">Code</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}
			
			</div><!-- /.container -->

			<footer>
	    		<ul>
	        		<li><a href="mailto:matthew.robert.archer@gmail.com">email</a></li>
	        		<li><a href="https://github.com/matthewarcher">github.com/matthewarcher</a></li>
				</ul>
			</footer>
			
			{% include analytics.html %}	
		</body>
	</html>
