<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">

			<meta name="viewport" content="width=device-width, initial-scale=1">
			<style>
			* {
			    box-sizing: border-box;
			}

			/* Create two unequal columns that floats next to each other */
			.column {
			    float: left;
			    padding: 10px;
			    height: 300px; /* Should be removed. Only for demonstration */
			}

			.left {
			  width: 66%;
			}

			.right {
			  width: 34%;
			}
			/* Add Sticky Image */
			img.sticky {
			    position: -webkit-sticky;
			    position: sticky;
			    top: 0;
			    width: 200px;
			}
			</style
			
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/publications">Publications</a></li>
	        		<li><a href="/Archer_CV.pdf" target="_blank">CV</a></li>
	        		<li><a href="/code">Code</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:matthew.robert.archer@gmail.com">email</a></li>
	        		<li><a href="https://github.com/matthewarcher">github.com/matthewarcher</a></li>
				</ul>
			</footer>
			
			{% include analytics.html %}	
		</body>
	</html>
